h1 {
    text-align: center;
}

h1>img {
    width: 200px;
    vertical-align: middle;
}

div#box {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 600px;
    border: 3px solid #000;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid #000;
}

td {
    height: 150px;
}

table img {
    width: 150px;
    border-radius: 50%;
}